body {
background-color: blue;
}

h1 {
text-align: center;
margin: 200px auto;
font-size: 50px;
}

.EAGLESLOGO {
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 300px auto;



}
